@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/*! base start */

:root {
    /*! Colors */
    /* Primary */
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    /* Neutral */
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}

body {
    overflow-x: hidden;
    
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.btn {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 22px;
    font-size: 16px;
    color: var(--White);
    background: linear-gradient(-90deg, #2BB7DA 5%, #31D35C 65%);
    border: none;
    cursor: pointer;
    width: 170px;
}

/*! base end */

/*! header start */
header {
    position: relative;
    z-index: 1;
}
.header-row {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: var(--White);
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav .menu-list {
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.menu-link {
    font-size: 16px;
    color: var(--Grayish-Blue);
}
/*! header end */
main {

}
.next-generation {
    background-image: url(./images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 188% 77%;
    background-color: var(--Light-Grayish-Blue);
    height: 435px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.next-generation-title {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.next-generation-title h1 {
    font-size: 57px;
    font-weight: 300;
    width: 425px;
}
.next-generation-title p {
    width: 466px;
    color: var(--Grayish-Blue);
}

.next-generation-image {
    position: absolute;
    right: -80px;
}
.next-generation-image img {
    width: 475px;
}
/*! responsive */

@media (max-width: 1200px) {
    .container {
        max-width: 992px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 576px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 400px;
    }
}

@media (max-width: 420px) {
    .container {
        max-width: 350px;
    }
}